
menuconfig CORTEXM_BACKTRACE
  bool "Enable stack backtrace for cortex-m"
  depends on CPU_CORTEX_M
  select EXTRA_EXCEPTION_INFO

if CORTEXM_BACKTRACE
config CM_BACKTRACE_DUMPSTACK
    bool "Dump thread stack"

config CM_BACKTRACE_ASSERT
    bool "Enable assert interface"

endif #CORTEXM_BACKTRACE