# RootKit configurations 

#Subsystem
menuconfig  USER_SUBSYSTEM
  bool "Subsystem (out of sourcetree))"
  help
    User extension for zephyr subsystem

if USER_SUBSYSTEM
rsource "subsys/Kconfig"
endif 

#Device drivers
menuconfig  USER_DEVICE_DRIVER
  bool "Device drivers (out of sourcetree)"
  help
    User extension for zephyr device drivers

if USER_DEVICE_DRIVER
rsource "drivers/Kconfig"
rsource "drivers_ext/Kconfig"
endif 

#Libraries
menuconfig  USER_LIBRARIES
  bool "Libraries (out of sourcetree)"
  help
    User extension for zephyr libraries

if USER_LIBRARIES
rsource "lib/Kconfig"
endif 

#Initialization
menuconfig  USER_SYSTEM_INIT
  bool "User component initialize"

if USER_SYSTEM_INIT
rsource "init/Kconfig"
endif


