menuconfig SETTING_USE_NVS_CUSTOM
	bool "setting use custom Non-volatile Storage"
    depends on SETTINGS
	help
	  Enable support of Non-volatile Storage.

if SETTING_USE_NVS_CUSTOM
config SETTINGS_NVS_SECTOR_SIZE_MULT
	int "Sector size of the NVS settings area"
	default 1
	help
	  The sector size to use for the NVS settings area as a multiple of
	  FLASH_ERASE_BLOCK_SIZE.

config SETTINGS_NVS_SECTOR_COUNT
	int "Sector count of the NVS settings area"
	default 512
	help
	  Number of sectors used for the NVS settings area
endif