# Device driver configure menu

menuconfig APOLLO3P_DEVICE_PRIVATE
	bool "Device Drivers private"
	default n
	help
	  Enable options for apollo3p device drivers.


if APOLLO3P_DEVICE_PRIVATE

rsource "counter/Kconfig"

endif #APOLLO3P_DEVICE
