/*
 * Copyright (c) 2020 CKT
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <ambiq/apollo3p.dtsi>
#include <ambiq/timer_clock.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "AmbiqMicro apollo3p board";
	compatible = "ambiq,apollo3p";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
		zephyr,sram = &sram0;
		zephyr,ccm = &ccm0;
		zephyr,flash-controller = &flash;
		zephyr,code-partition = &slot0_partition;
		psram = &psram0;
	};

	psram0: memory@55000000 {
		compatible = "aps1604,psram";
		label = "psram";
		reg = <0x56000000 DT_SIZE_K(2048)>;
	};

	power-states {
		normal_sleep: state0 {
			compatible = "zephyr,power-state";
			power-state-name = "suspend-to-idle";
			substate-id = <0>;
			min-residency-us = <500>;
		};

		deep_sleep: state1 {
			compatible = "zephyr,power-state";
			power-state-name = "suspend-to-idle";
			substate-id = <1>;
			min-residency-us = <2000>;
		};
	};

	soc {
		flash-controller@40018000 {
			flash0: flash@00000000 {
				reg = <0x00000000 DT_SIZE_K(2048)>;
			};
		};
	};

    mspi-nor {
	  compatible = "gd,mspi-nor";
	  label = "MSPI-NOR";
	  partitions {
		  compatible = "fixed-partitions";
		  #address-cells = <1>;
		  #size-cells = <1>;

		  resource_partition: partition@0 {
			  label = "resource_img";
			  reg = <0x0 DT_SIZE_K(8*1024)>;
		  };
		  watch_face_theme1_partition: partition@800000 {
			  label = "watch_face_1";
			  reg = <0x800000 DT_SIZE_K(2048)>;
		  };
		  watch_face_theme2_partition: partition@A00000 {
			  label = "watch_face_2";
			  reg = <0xA00000 DT_SIZE_K(2048)>;
		  };
		  watch_face_theme3_partition: partition@C00000 {
			  label = "watch_face_3";
			  reg = <0xC00000 DT_SIZE_K(2048)>;
		  };
		  watch_face_theme4_partition: partition@E00000 {
			  label = "watch_face_4";
			  reg = <0xE00000 DT_SIZE_K(2048)>;
		  };
		  watch_face_theme5_partition: partition@1000000 {
			  label = "watch_face_5";
			  reg = <0x1000000 DT_SIZE_K(2048)>;
		  };
		  storage_partition: partition@1200000 {
			  label = "storage";
			  reg = <0x1200000 DT_SIZE_K(2048)>;
		  };
		  update_partition: partition@1400000 {
			  label = "update_img";
			  reg = <0x1400000 DT_SIZE_K(2048)>;
		  };
		  file_system: partition@1600000 {
			  label = "fs";
			  reg = <0x1600000 DT_SIZE_K(10*1024)>;
		  };
	  };
  };

	channel: channel {
		compatible = "ambiq,channel";
		io-channels = <&adc1 16>;
		io-channel-names = "ADCSE0";
		status = "disabled";
		label = "channel";
	};

	pwmmotor {
		compatible = "pwm-motors";
		label = "MOTOR";
		motor: motor {
	    	pwms = <&pwm6 0 1 PWM_POLARITY_NORMAL>;
		};
		/* PWM_POLARITY_INVERTED or PWM_POLARITY_NORMAL*/
	};

	gpio_keys {
		compatible = "gpio-buttons";
		label = "buttons";
		control_button: button-1 {
			label = "Control";
			gpios = <&gpio2 7 GPIO_ACTIVE_LOW>;
			code = <0x1b12>; /* GX_KEY_CONTROL */
		};
		home_button: button-2 {
			label = "Home";
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
			code = <0x1b04>; /* GX_KEY_HOME */
		};
	};
};

&cpu0 {
	cpu-power-states = <&normal_sleep &deep_sleep>;
};


&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		otp_partition: partition@0 {
			label = "otp";
			reg = <0x0 DT_SIZE_K(48)>;
		};
		boot_partition: partition@c000 {
			label = "mcuboot";
			reg = <0x0000c000 DT_SIZE_K(192)>;
		};
		slot0_partition: partition@3c000 {
			label = "image-0";
			reg = <0x0003c000 DT_SIZE_K(1808)>;
		};
	};
};

&ctimer0 {
	status = "okay";
	clock_source = <RTC_100HZ>;
	pwm0: pwm {
	  ch0_pin = <25>;
	  ch1_pin = <255>;
      status = "okay";
	};
};

&ctimer6 {
	status = "okay";
	clock_source = <HFRC_3MHZ>;
	pwm6: pwm {
	  ch0_pin = <45>;
	  ch1_pin = <255>;
      status = "okay";
	};
};

&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};

&gpio2 {
    status = "okay";
};

&uart0 {
    status = "okay";
};

&uart1 {
    status = "okay";
};

&rtc {
    status = "okay";
};

&i2c0 {
    status = "disabled";
};

&i2c1 {
    status = "okay";
	mmc5603@30 {
		compatible = "memsic,mmc5603";
		label = "MMC5603";
		reg = <0x30>;
		pwr-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
	};
};

&i2c2 {
    status = "okay";
};

&i2c3 {
    status = "okay";
	cw6305@0B {
		compatible = "cellwise,cw6305";
		label = "CW6305";
		reg = <0x0B>;
		int-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
	};
};

&i2c4 {
    status = "okay";
};

&spi0 {
	status = "okay";
	cs-gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
	icm42607@0 {
	  compatible = "invensense,icm42607";
	  int-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
	  label = "ICM42607";
	  reg = <0>;
	  spi-max-frequency = <10000000>;

	  /* irq-gp.ios = <&gpio 0 0>; */
	  /* disconnect-sdo-sa0-pull-up; */
  };
};

&i2c5 {
    status = "okay";
};

&mspi0 {
    status = "okay";
};

&mspi1 {
    status = "okay";
};

&adc1 {
    status = "okay";
};

&channel {
    status = "okay";
};


