# Non-volatile Storage NVS

# Copyright (c) 2018 Laczen
# SPDX-License-Identifier: Apache-2.0

config NVS_CUSTOM
	bool "Non-volatile Storage"
	help
	  Enable support of Non-volatile Storage.

if NVS_CUSTOM

module = NVS_CUSTOM
module-str = nvs_custom
source "subsys/logging/Kconfig.template.log_config"

endif # NVS_CUSTOM
