# Components menu
menuconfig GUIX
	bool "GUIX for zephyr"
	help
	  Enable options for GUIX.
if GUIX
  rsource "gui/Kconfig"
endif

menuconfig XMODEM
	bool "xmodem"
	default n
	help
	  Enable options for xmodem

rsource "stp/Kconfig"
rsource "protobuf-c/Kconfig"
rsource "services/Kconfig"
rsource "motion/Kconfig"
rsource "cm_backtrace/Kconfig"
rsource "ble/Kconfig"
