# Testsuite


menu "Unit Test" 
config FATFS_TEST
  bool "FAT filesystem test"
  depends on FAT_FILESYSTEM_ELM
  
config GPIO_TEST
  bool "GPIO driver test"
  depends on GPIO
  
config LIS2DH_TEST
  bool "LIS2DH sensor(G-SENSOR) test"

config ADC_TEST
  bool "ADC test"

config ICM42607_TEST
  bool "ICM42607 6D sensor test"
  
rsource "ble/Kconfig"
endmenu
