#
# Copyright (c) 2019 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

menuconfig BT_NUS_CLIENT
	bool "Custom UART service client"
	select BT_CUSTOM_SERVICES
	help
	  Enable BLE GATT Custom UART service client.

if BT_NUS_CLIENT

module = BT_NUS_CLIENT
module-str = NUS Client
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BT_NUS_CLIENT
