#
# Copyright (c) 2021 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BT_GATTS_CLIENT
	bool "Generic Attribute Profile Service client"
	select BT_NRF_SERVICES
	help
	  Enable Generic Attribute Profile Service client.

if BT_GATTS_CLIENT

module = BT_GATTS_CLIENT
module-str = GATT Service Client
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # BT_GATTS_CLIENT
