
/ {
	gpio-keys {
		compatible = "gpio-buttons";
		label = "buttons";
		key0: button_0 {
			gpios = <&gpio0 23 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button 1";
			code = <0x01>;
		};
		key1: button_1 {
			gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button 2";
			code = <0x02>;
		};
		key2: button_2 {
			gpios = <&gpio0 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button 3";
			code = <0x03>;
		};
		key3: button_3 {
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button 4";
			code = <0x04>;
		};
	};
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		filesystem_partition: partition@0 {
			label = "fs";
			reg = <0x0 DT_SIZE_K(7168)>;
		};
		blkdev_partition: partition@1 {
			label = "blkdev";
			reg = <0x700000 DT_SIZE_K(1024)>;
		};
	};
};