
&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		filesystem_partition: partition@0 {
			label = "fs";
			reg = <0x0 DT_SIZE_K(8192)>;
		};
	};
};